/* styling for Public View */
.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background-img1 {
  background: url("./components/assests/mypics/earth-1.jpeg") no-repeat center
    fixed;
  background-size: cover;
  width: 100%;
  height: 91vh;
}
.background-img2 {
  background: url("./components/assests/mypics/earth-2.jpeg") no-repeat center
    fixed;
  background-size: cover;
  width: 100%;
  height: 91vh;
}

.main-content {
  padding-left: 1%;
  padding-top: 10%;
  color: white;
}
.card {
  width: 50%;
  padding-top: 5%;
  color: white;
}
.card .card-header {
  text-align: center;
}
.card .card-footer {
  text-align: end;
}

.card .setCardBase {
  text-align: center;
}

.removeUnderLine {
  text-decoration: none;
  color: white;
}
.removeUnderLine:hover {
  text-decoration: none;
  color: white;
}
.ankerRemoveUnderLine {
  text-decoration: none;
  color: rgb(75, 75, 246);
}
.ankerRemoveUnderLine {
  text-decoration: none;
  color: rgb(3, 3, 246);
}

/* styling for Cesium Map View */
.AppContainer {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  display: inline-flex;
}

.sidebar-maps {
  width: 20%;
  background-color: #74e3fc;
  padding: 0.5%;
}
.map-div {
  background-color: aqua;
  width: 80%;
}
.addMarkerContainer {
  margin-top: 10%;
  border: 2px solid blanchedalmond;
  padding: 4%;
}

.markerAppBar {
  height: 5%;
  width: 100%;
  background-color: blueviolet;
}

.MyAppContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this line */
}

.verticalSelect {
  padding: 0.1%;
  width: 20%;
}
.markerOptions {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Add this line */
  gap: 10px; /* Add this line */
}
.coordinatesRefStyles {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  padding: 5px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.overflow-auto {
  overflow: auto;
}
